.explore-card {
    text-align: left;
}

.explore-card__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.explore-card__title {
    font-size: 2rem;
    font-weight: 700;
}

.explore-card__rate {
    font-size: 1.875rem;
    margin-top: 0.466em;
    margin-bottom: 1em;
    display: flex;
    gap: 0.35em;
}

.explore-card__rate-icon {
    width: 34px;
    height: 28px;
}

.explore-card__description {
    font-size: 1.625rem;
    line-height: 2.438rem;
    letter-spacing: -0.02em;
    color: var(--light-gray-2);
}

.explore-card__thumbnail {
    margin-bottom: 2.813em;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1200px) {

    .explore-card__header {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .explore-card__title {
        width: 60%;
    }

    .explore-card__thumbnail {
        width: 144px;
        height: 111px;
    }

    .explore-card__rate {
        margin-top: 0.6em;
        margin-bottom: 1em;
    }
}