
.header.container {
    display: flex;
    align-items: center;
    padding-top: 1.75em;
    padding-bottom: 1.438em;
  }
  
  .header__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--almost-black);
  }
  
  .header__main-nav {
    display: none;
    z-index: 100;
  }
  
  @media (min-width: 780px) {
  
    .header__main-nav {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
  
    .header__menu-list {
      display: flex;
      gap: 1.563em;
      list-style-type: none;
    }

    .header__menu-list li {
      display: flex;
    }
  
    .header__menu-link {
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;
      color: var(--black);
      padding: 0.5em;
    }

    .header__menu-link.active, .header__menu-link:hover {
        background: var(--green-hike);
        color: var(--white);
      }
  
    .link-btn {
      border-radius: 0.25em;
      font-weight: 700;
    }
    
    .hamburger-menu {
      display: none;
    }
  
  }

  @media (min-width: 1200px) {
  
    .header__main-nav {
      display: flex;
      justify-content: flex-end;
    }
  
    .header__menu-list {
      display: flex;
      gap: 0;
      list-style-type: none;
    }
  
    .header__menu-link {
      font-size: 1.5rem;
      padding: 0.833em 1.5em;
      font-weight: 600;
      text-decoration: none;
      color: var(--black);
    }

    .link-btn {
      border-radius: 0.25em;
      font-weight: 700;
    }
  
    .header__menu-link.link-btn:nth-child(1) {
      margin-left: 1.125em;
    }
    
    .hamburger-menu {
      display: none;
    }
  
  }