
.explore__subtitle {
    margin-top: 1.386em;
    margin-bottom: 0.727em;
}

.explore__content {
    display: flex;
    gap: 2.25em;
    justify-content: center;
}

.explore__list {
    display: flex;
    flex-direction: column;
    gap: 3.563em;
}

.explore__map {
    display: none;
}

@media (min-width: 780px) {
    .explore__subtitle {
        margin-top: 1.477em;
        margin-bottom: 1.75em;
        text-align: center;
    }
    
    .explore__list {
        max-width: 560px;
        text-align: center;
    }
}

@media (min-width: 1200px) {

    .explore__subtitle {
        text-align: left;
    }

    .explore__content {
        width: 100%;
        margin: 0 auto;
        justify-content: normal;
    }

    .explore__list {
        width: 40%;
        gap: 5.875em;
    }

    .explore__map {
        width: 40vw;
        height: 100vh;
        background: var(--green-hike);
    }
}