
.explore__subtitle {
    margin-top: 1.386em;
    margin-bottom: 0.727em;
}

.explore__content {
    display: flex;
    gap: 2.25em;
    justify-content: center;
}

.explore__list {
    display: flex;
    flex-direction: column;
    gap: 3.563em;
}

.explore__map {
    display: none;
}

@media (min-width: 780px) {
    .explore__subtitle {
        margin-top: 1.477em;
        margin-bottom: 1.75em;
        text-align: center;
    }
    
    .explore__list {
        max-width: 560px;
        text-align: center;
    }
}

@media (min-width: 1200px) {

    .explore__subtitle {
        text-align: left;
    }

    .explore__content {
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .explore__list {
        flex-basis: 40%;
        gap: 5.875em;
    }

    .explore__map {
        display: block;
        flex-basis: 60%;
    }

    .map-not-found__container {
        position: relative;
    }

    .map-not-found__image {
        width: 100%;
        filter: brightness(20%);
    }

    .map-not-found__text-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .map-not-found__text {
        font-size: 2rem;
        color: red;
    }
}